<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="login-page">
        <div class="form">
            <div class="login-form">
                <a class="login-button" href="https://api-prod.andela.com/login?redirect_url=<%= url %>">login with google</a>
            </div>
        </div>
    </div>
</body>

</html>
